<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rotina</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="container">
    <h1>Minha Rotina</h1>

    <form action="/create" method="POST">
      <input name="title" placeholder="O que fazer?">
      <button type="submit">
        <img src="{{ url_for('static', filename='images/icons/add.png') }}" >
      </button>
    </form>
    <hr>
    <ul>
      {% for todo in todos %}
        <li>
          <form action="/update/{{ loop.index0 }}" method="POST">
            <input 
              name="title" 
              value="{{ todo['title'] }}"
              class="{{ 'completed' if todo['complete'] else '' }}"
            >
            <button type="submit">
              <img src="{{ url_for('static', filename='images/icons/edit.png') }}" >
            </button>
          </form>

          <div>
            {% if todo['complete'] == False %}
              <a href="/complete/{{ loop.index0 }}">
                <img src="{{ url_for('static', filename='images/icons/check.png') }}" >
              </a>
            {% endif %}

            <a href="/delete/{{ loop.index0 }}">
              <img src="{{ url_for('static', filename='images/icons/remove.png') }}" >
            </a>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</body>
</html>